{% extends "AppCoder/inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Este es el título del Inicio que cambio</h1>
  

    <h3>Puedes buscar un producto:</h3>
    <form action="{% url 'resultadosBusqueda' %}" method="get">
        <p>
            Indique su producto:
            <input type="text" name="title">
        </p>
        
        <input type="submit" value="Buscar">
    </form>

    {% if product %}

    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;">
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Imagen</th>
            </tr>
            {% for productos in product %}
            <tr>
                    <td>
                        {{productos.title}}
                    </td>
                    <td>
                        {{productos.price}}
                    </td>
                    <td>
                        <img src="{{productos.thumbnail}}" width="50" height="50"/>
                    </td>
                    <td>
            </tr>
            {% endfor %}
        </table>
    </div>  
    {% endif %}

    {% if respuesta %}
    <ul>
        <h3 class="alert alert-danger">Ingresa algun producto...</h3>
    </ul>
    {% endif %}
{% endblock %}