{% extends "AppCoder/inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if productForm.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>
    {% endif %}
    <div class="container mt-3">
    <div class="jumbotron">
    <form action="" method="POST">{% csrf_token %}
    <table>
        
        <div class="form-group">
        {{ productForm.as_table }}
        </div>
    </table>

    <input type="submit", value="Enviar">

    </form>
</div>
</div>
    
{% endblock %}