{% extends "AppCoder/inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h2 style="color:brown;">Listado de usuarios que han utilizado el chat</h2>
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: yellow;">
                            <th>Usuario</th>
                            <th>Última fecha del mensaje</th>
                </tr>
                {% for item in context %}
                <tr>
                        <td>
                            {{item.user}}
                        </td>
                        <td>
                            {{item.lastmessagedate}}
                        </td>
                </tr>
                {% endfor %}
            </table>
        </div>    

{% endblock %}